@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h4>Aleksandra Kroczak</h4>

<address>   
    <a href="https://github.com/kroczak/NumericSequenceCalculator/tree/master/TaskCalculator">GitHub Project</a><br />
    <strong>Phone:</strong> +48 880 304 861 <br />
    <strong>Mail:</strong>   <a href="mailto:aleksandra.kroczak@gmail.com">aleksandra.kroczak@gmail.com</a><br />
</address>