@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Numeric Sequence Calculator</h1>
    <p>To read how to use this calculator go to <a href="/Home/Instruction">Instruction</a> tab.</p>   
</div>

<div>

   
@if (ViewBag.Error != null)
{ <div class="alert alert-danger">
              @Html.ValidationMessage("Error")
              @ViewBag.Error
            </div>
        }

    @using (Html.BeginForm("Calculate", "Home"))
    {
        <input type="number" name="sequenceNumber" />
        <label>@Html.RadioButton("sequence", "c"); AAA</label>
        @Html.RadioButton("sequence", "d");

    }
    
<form action="/Home/Calculate">
    <h2>Enter number: <input type="number" name="sequenceNumber" /> </h2>
    <h2>Chose sequence to display: </h2>
        <p><input type="radio" value="" name="sequenceChoice"/> All numbers up to and including the number entered</p>
        <p><input type="radio" value="" name="sequenceChoice"/> All odd numbers up to and including the number entered</p>
        <p><input type="radio" value="" name="sequenceChoice"/> All even numbers up to and including the number entered</p>
        <p>
            <input type="radio" value="" name="sequenceChoice"/> All numbers up to and including the number entered, except
            when, a number is a multiple of 3 output C
        </p>
        <p>
            <input type="radio" value="" name="sequenceChoice"/>All numbers up to and including the number entered, except
            when, a number is a multiple of 5 output E"
        </p>
        <p>
            <input type="radio" value="" name="sequenceChoice"/> All numbers up to and including the number entered, except
            when, a number is a multiple of both 3 and 5 output Z
        </p>
        <p><input type="radio" value="" name="sequenceChoice"/> All fibonacci number up to and including the number entered</p>

        <input type="submit" class="btn btn-primary btn-lg" value="Calculate sequence" />
</form>
</div>
