
@{
    ViewBag.Title = "Instruction";
}

<h2>Instruction</h2>
This calculator allows you to calculate numeric sequence.
You have to enter a number and chose sequence you want to be calculated and displayed.
Available options to dispaly are:
<ul>
    <li>All numbers up to and including the number entered</li>
    <li>All odd numbers up to and including the number entered</li>
    <li>All even numbers up to and including the number entered</li>
    <li>
        All numbers up to and including the number entered, except some conditions
        <ul>
            <li>display C if a number is a multiple of 3</li>
            <li>display E if a number is a multiple of 5</li>
            <li>display Z number is a multiple of both 3 and 5</li>
        </ul>
    </li>
    <li>All fibonacci number up to and including the number entered</li>
</ul>

   
